@media (max-width: 767px) {
	.footer__logo {
		display: none;
	}
	.footer__contacto {
		margin-top: 2%;
	}
	.navbar-brand {
		width: 70%;
	}
	.div__oficinas__mapa {
		iframe {
			margin-bottom: 35%;
		}
	}
	.div__oficinas__mapa-iframe {
		margin-bottom: 2%;
	}
	.nosotros__institucional__imagen {
		order: 2;
	}
	.nosotros__institucional__texto{
		order: 1;
	}
}

@media (min-width: 768px) {
	.experiencia {
		display: flex;
		.experiencia__texto {
			width: 50%;
		}
		.experiencia__imagenes {
			width: 50%;
		}
	}	
	.experiencia2 {
		display: flex;
		flex-direction: row-reverse;
		.experiencia__texto {
			width: 50%;
		}
		.experiencia__imagenes {
			width: 50%;
		}
	}	
}

@media (min-width: 993px) {
	.paquetes {
		display: flex;
		justify-content: space-around;
	}
}

@media (max-width: 992px) {
	.paquetes {
		display: flex;
		flex-direction: column;
		align-items:center;
		div {
			margin-bottom: 20px;
		}
	}
}