$color_1: #000000;
$color_2: #fff;
$color_3: #ffffff;
$color_4: white;
$font-family_1: 'M PLUS 1p', sans-serif;
$background-color_1: #f7ebd9;
$background-color_2: #ffffff90;
$background-color_3: lightblue;
$background-color_4: #4CAF50;
$background-color_5: #367f38;
$background-color_6: #F2F2F2;