@import "https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300;400;700&display=swap";
@import "variables";
@import "medias";
@import "header";
@import "footer";

* {
	margin: 0;
	padding: 0;
}
body {
	font-family: $font-family_1;
}
a {
	text-decoration: none;
	color: $color_1;
}
.carousel {
	height: 70vh;
}
.carousel-item {
	height: 70vh;
	h1 {
		color: $color_2;
		font-weight: bolder;
		font-size: 2.5rem;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}
	h2 {
		color: $color_2;
		font-weight: bolder;
		font-size: 2.5rem;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}
	p {
		color: $color_2;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}
}
.carousel-inner {
	img {
		height: 70vh;
	}
}
.div__titulo {
	width: 100%;
	height: 20vh;
	font-size: large;
	font-weight: bolder;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}
.div__titulo__hr--left {
	width: 33.3%;
	margin-left: 2%;
	margin-right: 1%;
}
.div__titulo__hr--right {
	width: 33.3%;
	margin-right: 2%;
	margin-left: 1%;
}
.div__titulo__h2 {
	width: 33.3%;
	text-align: center;
}
.section__paquetes {
	margin-left: 1%;
	margin-right: 1%;
}
.section__paquetes__div {
	position: relative;
	border: solid white;
	margin-bottom: 20px;
	text-align: center;
	h3 {
		position: absolute;
		top: 30px;
		left: 50%;
		text-align: center;
		color: $color_3;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
		transform: translateX(-50%);
	}
	img {
		width: 100%;
		height: 100%;
		transition: transform 0.5s;
		&:hover {
			transform: scale(1.04);
		}
	}
}
.section__paquetes__div__boton {
	position: absolute;
	display: block;
	text-align: center;
	margin: auto;
	bottom: 10%;
	left: 50%;
	border: 2px solid #000000;
	padding: 10px 20px;
	background-color: $background-color_2;
	color: $color_1;
	border-radius: 50px;
	transform: translateX(-50%);
	transition: background-color 0.3s ease-in-out;
	&:hover {
		background-color: $background-color_3;
	}
}
.div__boton {
	width: 100%;
	height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.div__boton__boton-mas-paquetes {
	width: 60%;
	display: block;
	text-align: center;
	border: 2px solid #000000;
	padding: 10px 20px;
	background-color: $background-color_2;
	color: $color_1;
	border-radius: 50px;
	transition: all 0.2s ease-in-out;
	&:hover {
		background-color: $background-color_3;
	}
	&:active {
		transform: scale(0.9);
	}
}
.section__pagos {
	width: 100%;
	img {
		width: 120px;
		height: 120px;
		transition: transform 0.5s;
	}
	div {
		img {
			&:hover {
				transform: scale(1.08);
			}
		}
	}
}
.section__pagos__div__master {
	img {
		width: 120px;
		height: 90px;
		margin-top: 20px;
	}
}
.section__newsletter {
	width: 100%;
}
.section__newsletter__p {
	text-align: center;
	margin-bottom: 2%;
}
.section__newsletter__formulario {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.section__newsletter__formulario__email {
	padding: 10px 20px;
	margin-bottom: 20px;
	font-size: medium;
}
.section__newsletter__formulario__submit {
	padding: 10px 20px;
	background-color: $background-color_4;
	color: $color_4;
	border: none;
	cursor: pointer;
	margin-bottom: 20px;
	border-radius: 50px;
	transition: all 0.2s ease-in-out;
	&:hover {
		background-color: $background-color_5;
	}
	&:active {
		transform: scale(0.9);
	}
}
.boton-youtube {
	width: 45px;
	height: 45px;
	position: fixed;
	bottom: 5%;
	right: 1%;
	opacity: 0.7;
	transition: transform 0.2s;
	&:hover {
		transform: translateY(-5px);
	}
}
.boton-instagram {
	width: 45px;
	height: 45px;
	position: fixed;
	bottom: 15%;
	right: 1%;
	opacity: 0.7;
	transition: transform 0.2s;
	&:hover {
		transform: translateY(-5px);
	}
}
.boton-whatsapp {
	width: 45px;
	height: 45px;
	position: fixed;
	bottom: 25%;
	right: 1%;
	opacity: 0.7;
	transition: transform 0.2s;
	&:hover {
		transform: translateY(-5px);
	}
}
.div__contacto {
	p {
		text-align: center;
		margin-bottom: 20px;
	}
}
.div__contacto__formulario {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.div__contacto__formulario__text {
	padding: 10px 20px;
	margin-bottom: 20px;
	font-size: medium;
}
.div__contacto__formulario__textarea {
	padding: 10px 20px;
	margin-bottom: 20px;
	font-size: medium;
}
.div__contacto__formulario__submit {
	padding: 10px 20px;
	background-color: $background-color_4;
	color: $color_4;
	border: none;
	cursor: pointer;
	margin-bottom: 20px;
	border-radius: 50px;
	transition: all 0.2s ease-in-out;
	&:hover {
		background-color: $background-color_5;
	}
	&:active {
		transform: scale(0.9);
	}
}
.div__oficinas {
	p {
		text-align: center;
		margin-bottom: 20px;
	}
}
.div__oficinas__mapa {
	margin-bottom: 2%;
	margin-left: 1%;
	margin-right: 1%;
	iframe {
		width: 100%;
		height: 100%;
	}
}

